/* CreateTaskForm.module.css */

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #131526;
  padding: 15px;
  border-radius: 12px;
   box-shadow:
    0 0 0 1px var(--background-li),
    0 20px 40px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #1f2038;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #aaa;
}

.form textarea {
  resize: vertical;
  min-height: 60px;
}

.form label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: #fff;
}

.form button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #00ffff;
  color: #111;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover:not(:disabled) {
  background-color: #00bfff;
}

.form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.form:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(97, 53, 242, 0.4);
}