.footer {
  padding: 40px 20px;
  border-top: 1px solid #1e293b;
  background: var(--background-card-header);
  
}

.content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--check-color);
  margin-bottom: 12px;
}

.description {
  color: var(--text-secundary);
  font-size: 14px;
  margin-bottom: 10px;
}

.tech {
  color:var(--tech-color);
  font-size: 13px;
  margin-bottom: 16px;
}

.copy {
  color: var(--text-secundary);
  font-size: 12px;
}
