@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-secundary: #afb7c0;
  --text-hover: #e5e7eb;
  --secundary-color: linear-gradient(180deg, #0a0f1d, #020617);
  --check-color: #034ba3;
  --box-shadow-card: 0 12px 35px rgba(124, 108, 255, 0.25);
}

body.dark {
  --background-card-header: linear-gradient(180deg, #0b0f1a, #101a3a);
  --background: #0f111a;
  --background-card: linear-gradient(180deg, #0b0f1a, #101a3a);
  --text: #ffffff;
  --card-border: #334155;
  --text-color: #9d9ea0;
  --primary-color: #034ba3;
}

body.light {
  --background-card-header: linear-gradient(180deg, #0b0f1a, #101a3a);
  --background: #dddddd;
  --background-card: #ffffff;
  --text: #000000;
  --card-border: #b5b6b8cb;
  --text-color: #5f6570;
  --primary-color: #034ba3;
}

body {
  background: var(--background);
  color: var(--text);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
