.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--background-page);
}
.logo {
  color: var(--text-secundary);
}

.logo path {
  stroke: white;
}

.logo rect {
  fill: var(--check-color);
}

.logo text {
  fill: white;
}

.navContainer {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: var(--text-secundary);
  text-decoration: none;
  font-size: 0.95rem;
  position: relative;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: var(--text);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #034ba3;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.logoutIcon {
  width: 40px;
  height: 30px;
  filter: brightness(0) invert();

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.logoutIcon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
